.box {
    background: pink;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* TRANSFORM is a property that takes functional values like f(x) to change an element */

#rotate {
    transform: rotate(-10deg);
}

#scale {
    transform: scale(.75);
}

#skew {
    transform: skew(-25deg);
}

/* translate(x) moves element horizontally (to the right if positiive, translate (x, y) moves diagoanally */

#translate {
    transform: translate(200px, -200px);
}

#chain {
    transform: scale(2) rotate(45deg) translate(25px, -45px);
}
