/* STEP 1: Configure an element to be animated */
#animated-shape {
    background: crimson;
    width: 200px;
    height: 200px;
    /* sub-properties for the animation */
    animation-name: colorchange-alt; 
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
/* STEP 2: Define the animation sequence */
@keyframes colorchange {
    from { background: crimson;}
    to{ background: white;}
}
@keyframes colorchange-alt {
    0% { background: crimson;}
    50% { 
        background: pink; 
        transform: scale(0) rotate(360deg);
     }
    100% { background: crimson;}
}

/* STEP 1: Config. an element to be animated but using the shortcut "animated" property which sets the name, duration, iterations, timing function ALL IN ONE LINE! */

#animated-emoji {
    font-size: 65px;
    animation: move-emoji 5s infinite ease-in-out;
    display: inline-block;
    position: absolute;
    top: 75px;
    left: 75px;
}

/* STEP 2: Define an animation sequence */

@keyframes move-emoji {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(200deg) scale(1.5);
    }
    100% {
        transform: rotate(360)deg;
     }
}











.box {
    background: pink;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* TRANSFORM is a property that takes functional values like f(x) to change an element */

#rotate {
    transform: rotate(-10deg);
}

#scale {
    transform: scale(.75);
}

#skew {
    transform: skew(-25deg);
}

/* translate(x) moves element horizontally (to the right if positiive), translate (x, y) moves diagoanally */

#translate {
    transform: translate(200px, -200px);
}

#chain {
    transform: scale(2) rotate(45deg) translate(25px, -45px);
}
